<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<title>Faraday Investment</title>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link href="img/favicon.ico" rel="shortcut icon"/>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/themify-icons.css"/>
<link rel="stylesheet" href="css/animate.css"/>
<link rel="stylesheet" href="css/owl.carousel.css"/>
<link rel="stylesheet" href="css/style.css"/>
   
<style>
.p-1{
display: none !important;
}
.pull-right{
display: none !important;
}
.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white p, .text-white span, .text-white li, .text-white a{
color: black !important;
}
.cryptohopper_logo_ticker_1{
display: none !important;

}
#mcw-2 .cc-coin{
color: white !important;
}
.title-bar{
display: none !important;
}
.cc-ticker{
background-color: #1b1b1b !important;

}
@media only screen and (min-width: 600px) {
.taki2{
    display: none;
  }
  .site-btn{
  margin-top: 22px;
  }
  .main-menu{
  margin-top: 24px;
  }
  .container-fluid{
  margin-top: 30px;
  }
  .hero-section{
  height: 653px;
  }
  .top{
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #2a264a 0%, #7a529e 100%, #3f2955 100%, #453165 100%);
  }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: 900;
  margin-top: 70px;
}
.about-img {
    margin-top: -42px;
    left: 20px !important;
    width: 430px;
}
}
   
@media only screen and (max-width: 600px) {

  .mob {
    margin-top: -13px;
    margin-left: -26px;
    height: 69px;
    padding-top: 0px;
  }
  .container-fluid{
     width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
  }
  .taki{
  display: none;
  }
  .taki2{
    margin-top: -61px;
    margin-bottom: -101px;
  }
  .centered {
    position: absolute;
    top: 65%;
    right: 0px;
    left: 176px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 900;
   
}

}
</style>
</head>


<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header section -->
  <header class="header-section clearfix">
    <div class="container-fluid">
      <a href="index.html" class="site-logo">
        <img class="mob" src="img/logo.png" alt="">
      </a>
      <div class="responsive-bar"><i class="fa fa-bars"></i></div>
      <a href="#" class="user"><i class="fa fa-user"></i></a>
      <a href="/form" class="site-btn"
        style="background: linear-gradient(to right, #2a264a 0%, #7a529e 100%, #3f2955 100%, #453165 100%);">Open an
        Account</a>
      <nav class="main-menu">
        <ul class="menu-list">
          <li><a href="#">Solution</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Header section end -->

  <div class="top">

  </div>
  <!-- Hero section -->
  <section class="hero-section">
    <img class="taki2" src="./img/New Project (6).png">
    <img class="taki" src="./img/2.jpg">
    <div class="centered">
      <b>The easiest & most secure way to invest in the future of currency</b>
      <a href="#" class="site-btn"
        style="background: linear-gradient(to right, #2a264a 0%, #7a529e 100%, #3f2955 100%, #453165 100%);">Open an
        Account</a>
    </div>
  </section>
  <!-- Hero section end -->

  <div class="cryptohopper-web-widget bg" data-id="2" data-realtime="on"></div>
  <!-- About section -->
  <section class="about-section spad">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-6 about-text">
          <h2>Invest smarter today for a comfortable tomorrow</h2>

          <p>Faraday Investments aims to simplify and enhance the experience of investing in cryptocurrencies. We enable
            users to enter the crypto market with zero learning curve required, and we help construct diversified
            portfolios with the aim to maximize returns while maintaining your preferred risk profile.</p>
          <a href="#" class="site-btn sb-gradients sbg-line mt-5">Open an Account</a>
        </div>
      </div>
      <div class="about-img">
        <img src="img/about-img.png" alt="">
      </div>
    </div>
  </section>
  <!-- About section end -->


  <!-- Features section -->
  <section class="features-section spad gradient-bg">
    <div class="container text-white">
      <div class="section-title text-center">
        <h2>Our Features</h2>
        <p>Bitcoin is the simplest way to exchange money at very low cost.</p>
      </div>
      <div class="row">
        <!-- feature -->
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
          <i class="ti-headphone-alt"></i>
          <div class="feature-content">
            <h4>Expert Support</h4>
            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est
              laborum. </p>
            <a href="#" class="readmore">Readmore</a>
          </div>
        </div>
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
          <i class="ti-shield"></i>
          <div class="feature-content">
            <h4>Safe & Secure</h4>
            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est
              laborum. </p>
            <a href="#" class="readmore">Readmore</a>
          </div>
        </div>
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
          <i class="ti-panel"></i>
          <div class="feature-content">
            <h4>Monitor Cryptocurrency's</h4>
            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est
              laborum. </p>
            <a href="#" class="readmore">Readmore</a>
          </div>
        </div>



      </div>
    </div>
  </section>
  <!-- Features section end -->


  <!-- Process section -->
  <section class="process-section spad">
    <div class="container">
      <div class="section-title text-center">
        <h2>Get Started With Cryptocurrency</h2>
        <p style="padding-left: 90px;padding-right: 90px;">Investing can be intimidating, especially for beginners.
          Sometimes managing an investment is daunting due to the<br> uncertainty and volatility of the market, as well
          as the time investment needed to be successful.</p>
      </div>
      <div class="row">
        <div class="col-md-4 process">
          <div class="process-step" style="background-color: #000000;border-radius: 50px;">
            <figure class="process-icon">
              <img src="img/process-icons/1.png" alt="#">
            </figure>
            <h4>Set up your account</h4>
            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est
              laborum. </p>
          </div>
        </div>
        <div class="col-md-4 process">
          <div class="process-step" style="background-color: #000000;border-radius: 50px;">
            <figure class="process-icon">
              <img src="img/process-icons/2.png" alt="#">
            </figure>
            <h4>Select & Buy Package</h4>
            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est
              laborum. </p>
          </div>
        </div>
        <div class="col-md-4 process">
          <div class="process-step" style="background-color: #000000;border-radius: 50px;">
            <figure class="process-icon">
              <img src="img/process-icons/3.png" alt="#">
            </figure>
            <h4>Relax, now it's on us</h4>
            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est
              laborum. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Process section end -->


  <!-- Fact section -->
  <section class="fact-section gradient-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="fact">
            <h2>60+</h2>
            <p>Support <br> Countries</p>
            <i class="ti-basketball"></i>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="fact">
            <h2>12K</h2>
            <p>Transactions <br> per hour</p>
            <i class="ti-panel"></i>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="fact">
            <h2>5B</h2>
            <p>Largest <br> Transactions</p>
            <i class="ti-stats-up"></i>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="fact">
            <h2>10+</h2>
            <p>Years <br> of Experience</p>
            <i class="ti-user"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fact section end -->





  <!-- Review section -->
  <section class="review-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 push-8">
          <img src="img/quote.png" alt="" class="quote mb-5">
          <div class="review-text-slider owl-carousel">
            <div class="review-text">
              <p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you
                don’t have to be physically in the same place and, of course, for large transactions, currency can get
                pretty inconvenient.”</p>
            </div>
            <div class="review-text">
              <p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you
                don’t have to be physically in the same place and, of course, for large transactions, currency can get
                pretty inconvenient.”</p>
            </div>
            <div class="review-text">
              <p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you
                don’t have to be physically in the same place and, of course, for large transactions, currency can get
                pretty inconvenient.”</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pr-0 pull-3">
          <div class="review-meta-slider owl-carousel pt-5">
            <div class="author-meta">
              <div class="author-avatar set-bg" data-setbg="img/review/1.jpg"></div>
              <div class="author-name">
                <h4>Aaron Ballance</h4>
                <p>Ceo Bitcoin</p>
              </div>
            </div>
            <div class="author-meta">
              <div class="author-avatar set-bg" data-setbg="img/review/2.jpg"></div>
              <div class="author-name">
                <h4>Jackson Nash</h4>
                <p>Head of Design</p>
              </div>
            </div>
            <div class="author-meta">
              <div class="author-avatar set-bg" data-setbg="img/review/3.jpg"></div>
              <div class="author-name">
                <h4>Katy Abrams</h4>
                <p>Product Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Review section end -->


  <!-- Newsletter section -->
  <section class="newsletter-section gradient-bg">
    <div class="container text-white">
      <div class="row">
        <div class="col-lg-7 newsletter-text">
          <h2>CRYPTO CALCULATOR</h2>
          <p>No more hassle.
            You don’t have to be constantly searching the web to get price updates. Just use our coin calculator and
            simply get the desired result with a simple click.

            From bitcoin, to ripple, to litecoin… You just select your weapons and we’ll explain the technicalities.</p>
        </div>
        <div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
          <!-- Crypto Converter ⚡ Widget -->
          <crypto-converter-widget shadow symbol live background-color="#242423" border-radius="0.60rem"
            fiat="united-states-dollar" crypto="bitcoin" amount="1" decimal-places="2"><a href="https://cr.today/"
              target="_blank" rel="noopener">Converter Widget</a></crypto-converter-widget>
          <script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget/dist/latest.min.js"></script>
          <!-- /Crypto Converter ⚡ Widget -->
        </div>
      </div>
    </div>
  </section>
  <!-- Newsletter section end -->



  <!-- Blog section -->
  <section class="blog-section spad">
    <div class="container">
      <div class="section-title text-center">
        <h2 style="color:black;">Latest News</h2>
        <p style="font-weight: 900;">It’s an ever-changing business. To stay on top of the game, don’t forget to keep
          yourself in the know.</p>
      </div>
      <div class="row">
        <!-- blog item -->
        <div class="cryptohopper-web-widget" data-id="5" data-news_count="6" data-atid="10"></div>
      </div>
    </div>
  </section>
  <!-- Blog section end -->


  <!-- Newsletter section -->
<section class="newsletter-section gradient-bg">
  <div class="container text-white">
  <div class="row" style="margin-left: 45px !important;">
  <div class="cryptohopper-web-widget" data-id="1" data-table_columns="rank,name,price_usd,market_cap_usd,volume_usd_24h,percent_change_24h,weekly" data-realtime="on" data-table_length="6"></div>
  
  </div>
  </div>
  </section>
  <!-- Newsletter section end -->
  
  
  <!-- Footer section -->
  <footer class="footer-section" style="background-color:black;">
  <div class="container">
  
  <div class="footer-bottom" style="border-top: 1px solid #000000 !important;">
  <center><b style="color: white;">Copyright by Faraday Investment 2021</b></center>
  </div>
  </div>
  </footer>
  
  
  <!--====== Javascripts & Jquery ======-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://www.cryptohopper.com/widgets/js/script"></script>
  </body>
</html>  